* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
    border : 20px solid rgb(0,0,0);
    color : white;
    display:flex;
    background-color: rgb(156, 220, 231)
}

.child1 {
    width:200px;
    height : 200px;
    background: rgb(39,61,134);
    color:#1b80b7;
    flex-grow: 3;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all .2s linear;
}

.child1:hover {
    color:#52bff2;
    background-color:white;
}



.child2 {
    width:200px;
    height : 200px;
    background: rgb(172,57,53);
    align-self: center;
    flex-grow: 2;
    display:flex;
    justify-content: center;
    align-items: center;

}

.child3 {
    width: 200px;
    height: 200px;
    background: rgb(149,43,148);
    align-self: flex-end;
    flex-grow:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
